<div class="container">
	<div class="add-operator-info">
		<p>
		Some introduction info can go here.
		</p>
	</div>

	<div class="pull-right">
		{{#bs-button type="primary" icon="glyphicon glyphicon-chevron-right" onClick=(action "changeRoute" 'submit.data')}}
		  Next
		{{/bs-button}}
	</div>
</div>
