<div class="ui text container center aligned">
	<h3 class="first headroom">Welcome!</h3>
	<p>
		Some introduction info can go here.
	</p>
	<div class="column">
		<div class="ui two column stackable padded middle aligned centered color grid">
			<div class="column left aligned"></div>
			<div class="column right aligned"><button class="ui button olive" onClick={{action "changeRoute" 'submit.data'}}>Next</button></div>
		</div>
	</div>
</div>