<div class="container">
	<div class="add-operator-info">
		<p>
		Some introduction info can go here.
		</p>
	</div>
	<div>
		<button class="ui button">{{text}}</button>
	</div>
</div>

<div class="ui animated button" tabindex="0">
  <div class="visible content">Next</div>
  <div class="hidden content">
    <i class="right arrow icon"></i>
  </div>
</div>